Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"

update version
  package-lock.json
  package.json
Labels: none

2.1.2
  package-lock.json
  package.json
Labels: none

fix image flip issue on y axis
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/index.ts
Labels: @utils

2.1.3
  package-lock.json
  package.json
Labels: none

add customize keyboard settings
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/index.ts
Labels: @utils

2.2.0
  package-lock.json
  package.json
Labels: none

add IGUIStates, IGuiParameterSettings, INrrdStates type export
  src/Utils/segmentation/DrawToolCore.ts
  src/index.ts
Labels: @utils

2.2.1
  package-lock.json
  package.json
Labels: none

update the default sphere radius number
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DrawToolCore.ts
Labels: @utils

update version
  src/index.ts
Labels: none

2.2.2
  package-lock.json
  package.json
Labels: none

fix: solve the zoom in issue #313
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/utils.ts
  src/index.ts
Labels: @utils

2.2.3
  package-lock.json
  package.json
Labels: none

chore: clean code
  src/Utils/segmentation/DrawToolCore.ts
Labels: @utils

chore: update doc action
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

feat: break change for NrrdTools, using MaskVolume
  .claude/settings.local.json
  README.md
  src/Scene/copperScene.ts
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/MaskVolume.ts
  src/Utils/segmentation/core/MigrationUtils.ts
  src/Utils/segmentation/core/UndoManager.ts
  src/Utils/segmentation/core/__tests__/MaskVolume.bench.ts
  src/Utils/segmentation/core/__tests__/MaskVolume.test.ts
  src/Utils/segmentation/core/__tests__/MigrationUtils.test.ts
  src/Utils/segmentation/core/__tests__/setup.ts
  src/Utils/segmentation/core/index.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/archive.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/Utils/segmentation/eventRouter/index.ts
  src/Utils/segmentation/eventRouter/types.ts
  src/Utils/segmentation/tools/BaseTool.ts
  src/Utils/segmentation/tools/ContrastTool.ts
  src/Utils/segmentation/tools/CrosshairTool.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/Utils/segmentation/tools/EraserTool.ts
  src/Utils/segmentation/tools/ImageStoreHelper.ts
  src/Utils/segmentation/tools/SphereTool.ts
  src/Utils/segmentation/tools/ZoomTool.ts
  src/Utils/segmentation/tools/index.ts
  src/index.ts
  src/types/nifti-reader-js.d.ts
  src/types/types.ts
  tsconfig.json
Labels: @scene, @utils, documentation

3.0.0
  package-lock.json
  package.json
Labels: none

clean code
  .claude/settings.local.json
Labels: none

update action
  .github/workflows/npm-publish.yml
Labels: workflow

update npm action
  .github/workflows/npm-publish.yml
Labels: workflow

update action
  .github/workflows/npm-publish.yml
Labels: workflow

refactor: enforce mode exclusivity, clean up redundant state, fix render loop
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/MaskVolume.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/Utils/segmentation/tools/BaseTool.ts
  src/Utils/segmentation/tools/ImageStoreHelper.ts
  src/Utils/segmentation/tools/SphereTool.ts
  src/Utils/segmentation/tools/ZoomTool.ts
  src/index.ts
Labels: @utils

chore: add .claude to .gitignore
  .gitignore
Labels: none

3.0.1
  package-lock.json
  package.json
Labels: none

refactor(segmentation): remove unused MigrationUtils and legacy types
  src/Utils/segmentation/core/MigrationUtils.ts
  src/Utils/segmentation/core/__tests__/MigrationUtils.test.ts
  src/Utils/segmentation/core/index.ts
  src/index.ts
Labels: @utils

feat: Enhance SphereTool functionality and integration
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/MaskVolume.ts
  src/Utils/segmentation/core/UndoManager.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/Utils/segmentation/eventRouter/types.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/Utils/segmentation/tools/ImageStoreHelper.ts
  src/Utils/segmentation/tools/SphereTool.ts
  src/Utils/segmentation/tools/index.ts
Labels: @utils

3.0.2
  package-lock.json
  package.json
Labels: none

feat: Refactor state management for GUI and NRRD data
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/GuiState.ts
  src/Utils/segmentation/coreTools/NrrdState.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/divControlTools.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/tools/BaseTool.ts
  src/Utils/segmentation/tools/CrosshairTool.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/EraserTool.ts
  src/Utils/segmentation/tools/ImageStoreHelper.ts
  src/Utils/segmentation/tools/PanTool.ts
  src/Utils/segmentation/tools/SphereTool.ts
  src/Utils/segmentation/tools/ZoomTool.ts
  src/Utils/segmentation/tools/index.ts
  src/index.ts
Labels: @utils

feat(segmentation-module): update documentation for state management refactor
  README.md
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/GuiState.ts
  src/Utils/segmentation/coreTools/NrrdState.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/ZoomTool.ts
Labels: @utils, documentation

feat: add programmatic sphere placement method and update documentation
  README.md
  src/Utils/segmentation/NrrdTools.ts
Labels: @utils, documentation

feat: refactor drawing and sphere tools for improved orchestration and delegation
  README.md
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/tools/CrosshairTool.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/SphereTool.ts
Labels: @utils, documentation

v3.0.3
  src/index.ts
Labels: none

3.0.3
  package-lock.json
  package.json
Labels: none

feat: Add DataLoader, LayerChannelManager, and SliceRenderPipeline classes for improved segmentation tool functionality
  README.md
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/DataLoader.ts
  src/Utils/segmentation/tools/LayerChannelManager.ts
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/Utils/segmentation/tools/index.ts
Labels: @utils, documentation

feat: Add issue2 event lifecycle plan and task documents.
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
Labels: @utils

feat: Add `NrrdTools` usage guide documentation and planning documents for type unification and event lifecycle.
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/MaskVolume.ts
  src/Utils/segmentation/core/index.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/GuiState.ts
  src/Utils/segmentation/coreTools/NrrdState.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/divControlTools.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/tools/BaseTool.ts
  src/Utils/segmentation/tools/ContrastTool.ts
  src/Utils/segmentation/tools/CrosshairTool.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/SphereTool.ts
  src/Utils/workers/reformatSaveDataWorker.ts
  src/index.ts
Labels: @utils

feat: Add ToolHost for all tools unifying callbacks
  src/Utils/segmentation/tools/ContrastTool.ts
  src/Utils/segmentation/tools/DataLoader.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/ImageStoreHelper.ts
  src/Utils/segmentation/tools/LayerChannelManager.ts
  src/Utils/segmentation/tools/PanTool.ts
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/Utils/segmentation/tools/SphereTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/Utils/segmentation/tools/ZoomTool.ts
  src/Utils/segmentation/tools/index.ts
Labels: @utils

feat: update version to v3.1.0-beta and add CanvasState and RenderingUtils classes
  README.md
  src/Utils/segmentation/CanvasState.ts
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/RenderingUtils.ts
  src/index.ts
Labels: @utils, documentation

docs: update api docs
  README.md
  apidocs/.vitepress/config.js
  apidocs/apidocConfig.json
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/index.md
  apidocs/typedoc.js
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  apidocs/zh/index.md
Labels: documentation

3.1.0
  package-lock.json
  package.json
Labels: none
