Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

fixed bugs
  src/Controls/Copper3dTrackballControls.ts
Labels: @controls

1.15.7
  package-lock.json
  package.json
Labels: none

update docs
  README.md
  docs/source/tutorial/01_loadGltf.md
  docs/source/tutorial/03_shareView.md
  docs/source/tutorial/04_resetView.md
  docs/source/tutorial/05_convertPos.md
  docs/source/tutorial/06_addLabel.md
  docs/source/tutorial/07_loadNrrd.md
  docs/source/tutorial/08_renderOnDemond.md
  docs/source/tutorial/09_multipleScene.md
  docs/source/tutorial/10_kiwriousHeart.md
  docs/source/tutorial/11_dragAndResetNrrd.md
  docs/source/tutorial/12_drawOnNrrdSlice.md
  docs/source/tutorial/13_newDrawingFunction.md
  docs/source/tutorial/14_drawContrastWithMain.md
  docs/source/tutorial/15_drawContrastInMainArea.md
  docs/source/tutorial/16_loadMultipleVtks.md
  docs/source/tutorial/17_texture2d_heartmodel.md
  docs/source/tutorial/18_texture2d_nrrd_sharder.md
Labels: @documentation, documentation

update docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

clean code
  src/Loader/copperDicomLoader.ts
  src/Loader/copperNrrdLoader.ts
  src/Renderer/copperRendererOnDemond.ts
  src/Utils/convet.ts
  src/Utils/nrrd_tool.ts
Labels: @loader, @copperDicomLoader, @copperNrrdLoader, @renderer, @utils

update copperScene/Render type and allow them to switch the cameras
  src/Renderer/baseRenderer.ts
  src/Renderer/copperRenderer.ts
  src/Scene/baseScene.ts
  src/Scene/commonSceneMethod.ts
  src/Scene/copperScene.ts
  src/types/types.ts
Labels: @renderer, @scene

1.15.8
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

fixed the issue #238
  src/Scene/baseScene.ts
  src/Scene/copperScene.ts
Labels: @scene

1.15.9
  package-lock.json
  package.json
Labels: none

update docs
  README.md
Labels: documentation

add switchAllSlicesArrayData() for switch all images data and keep the default settings
  src/Utils/nrrd_tool.ts
Labels: @utils

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

1.15.10
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

add change fps methods
  src/Renderer/copperRenderer.ts
  src/Scene/baseScene.ts
  src/Scene/copperScene.ts
  src/Utils/utils.ts
  src/types/types.ts
Labels: @renderer, @scene, @utils

provide more data for user: main canvas containor div, drawing canvas, and nrrd_states object
  src/Utils/nrrd_tool.ts
Labels: @utils

1.15.11
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

develop sphere function
  src/Utils/nrrd_tool.ts
Labels: @utils

docs
  docs/source/release/release.md
Labels: @documentation

1.15.12
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

clean code, disable sphere clean canvas
  src/Utils/nrrd_tool.ts
Labels: @utils

1.15.13
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

update sphere function
  src/Utils/nrrd_tool.ts
Labels: @utils

1.15.14
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

fixed bug sphere wheel position
  src/Utils/nrrd_tool.ts
Labels: @utils

1.15.15
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

clean code
  src/Renderer/copperRenderer.ts
Labels: @renderer

add mesh node tool type
  src/types/types.ts
Labels: none

Meshnodetool
  src/Utils/MeshNodeTool.ts
  src/Utils/utils.ts
Labels: @utils

1.15.16
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

fixed issue #255
  src/Controls/Copper3dTrackballControls.ts
Labels: @controls

1.15.17
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"
