Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"

refactor(DrawingTool, NrrdTools, types, gui, ToolHost, utils): remove eraser URL handling and improve brush/eraser size preview functionality
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/Utils/utils.ts
  src/index.ts
Labels: @utils

3.4.7
  package-lock.json
  package.json
Labels: none

fix(NrrdTools): bind GUI parameter settings to reflect current volume's min/max/window feat: update REVISION to v3.4.8-beta
  src/Utils/segmentation/NrrdTools.ts
  src/index.ts
Labels: @utils

3.4.8
  package-lock.json
  package.json
Labels: none

feat: add aligned 4D MRI rendering with surface meshes
  apidocs/.vitepress/config.js
  apidocs/guide/copper3d-4D-API.md
  apidocs/zh/guide/copper3d-4D-API.md
  src/Loader/copperDicomLoader.ts
  src/Renderer/copperRenderer.ts
  src/Scene/copperScene.ts
  src/Utils/texture2d.ts
  src/index.ts
  src/lib/shader/texture2d_frag.glsl
  src/lib/shader/texture2d_vertex.glsl
  src/types/types.ts
Labels: @lib, @loader, @copperDicomLoader, @renderer, @scene, @utils

feat: add 4D Animation section with Aligned 4D MRI + Surface API link to documentation
  apidocs/.vitepress/config.js
Labels: none

3.4.9
  package-lock.json
  package.json
Labels: none

feat: Add AI Assist API documentation and implement AiAssistTool for interactive segmentation
  apidocs/guide/ai-assist-api.en.md
  apidocs/zh/guide/ai-assist-api.zh.md
  src/Renderer/baseRenderer.ts
  src/Renderer/copperMSceneRenderer.ts
  src/Renderer/copperRenderer.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/index.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/Utils/segmentation/eventRouter/types.ts
  src/Utils/segmentation/tools/AiAssistTool.ts
  src/index.ts
Labels: @renderer, @utils

3.4.10
  package-lock.json
  package.json
Labels: none

3.5.0
  package-lock.json
  package.json
Labels: none

feat(surfaceAnnotation): introduce SurfaceAnnotator for advanced surface annotation features
  src/Scene/copperScene.ts
  src/Utils/surfaceAnnotation/MeshGraph.ts
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/annotationStore.ts
  src/Utils/surfaceAnnotation/contourRender.ts
  src/Utils/surfaceAnnotation/geodesicContour.ts
  src/Utils/surfaceAnnotation/index.ts
  src/Utils/surfaceAnnotation/pointMarkers.ts
  src/Utils/surfaceAnnotation/raycastSurface.ts
  src/Utils/surfaceAnnotation/strokeContour.ts
  src/Utils/surfaceAnnotation/types.ts
  src/index.ts
Labels: @scene, @utils

feat: add Surface Annotation API documentation in English and Chinese
  apidocs/.vitepress/config.js
  apidocs/guide/surface-annotation-api.md
  apidocs/zh/guide/surface-annotation-api.md
Labels: none

3.6.0
  package-lock.json
  package.json
Labels: none

feat: add detailed documentation for 4D MRI and LV surface rendering process
  apidocs/.vitepress/config.js
  apidocs/guide/4D-MRI-LV-rendering.md
  apidocs/guide/copper3d-4D-API.md
  apidocs/guide/surface-annotation-api.md
  apidocs/zh/guide/4D-MRI-LV-rendering.md
  apidocs/zh/guide/copper3d-4D-API.md
  apidocs/zh/guide/surface-annotation-api.md
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/strokeContour.ts
  src/index.ts
Labels: @utils

3.6.1
  package-lock.json
  package.json
Labels: none

feat(surfaceAnnotation): enhance geodesic annotation features with undo capability and visual markers
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/geodesicContour.ts
  src/index.ts
Labels: @utils

feat(surfaceAnnotation): enhance geodesic annotation description and update marker radius
  apidocs/guide/surface-annotation-api.md
  apidocs/zh/guide/surface-annotation-api.md
Labels: none

3.6.2
  package-lock.json
  package.json
Labels: none

feat(surfaceAnnotation): improve geodesic annotation interaction and rendering details
  apidocs/guide/surface-annotation-api.md
  apidocs/zh/guide/surface-annotation-api.md
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/contourRender.ts
  src/Utils/surfaceAnnotation/pointMarkers.ts
  src/Utils/surfaceAnnotation/raycastSurface.ts
  src/Utils/texture2d.ts
  src/index.ts
  src/lib/three-vignette.ts
Labels: @lib, @utils

3.6.3
  package-lock.json
  package.json
Labels: none

feat(surfaceAnnotation): enhance documentation and improve code clarity
  rollup.config.js
  src/Loader/copperNrrdLoader.ts
  src/Scene/copperScene.ts
  src/Utils/surfaceAnnotation/MeshGraph.ts
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/annotationStore.ts
  src/Utils/surfaceAnnotation/contourRender.ts
  src/Utils/surfaceAnnotation/geodesicContour.ts
  src/Utils/surfaceAnnotation/pointMarkers.ts
  src/Utils/surfaceAnnotation/raycastSurface.ts
  src/Utils/surfaceAnnotation/strokeContour.ts
  src/Utils/surfaceAnnotation/types.ts
  src/Utils/workers/reformatSaveDataWorker.ts
  src/types/raw-modules.d.ts
Labels: @loader, @copperNrrdLoader, @scene, @utils

feat: update version v3.6.4
  src/index.ts
Labels: none

3.6.4
  package-lock.json
  package.json
Labels: none

feat: enhance AI segmentation tools with lasso functionality and update version to v3.6.5-beta
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/AiAssistTool.ts
  src/index.ts
Labels: @utils

Refactor AI Assist API documentation to support new segmentation model
  apidocs/guide/ai-assist-api.md
  apidocs/zh/guide/ai-assist-api.md
Labels: none

feat: integrate @rollup/plugin-replace for versioning and enhance global version exposure
  index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/globals.d.ts
  src/index.ts
Labels: none

3.6.5
  package-lock.json
  package.json
Labels: none

feat: add aiCommitToLayerMapped method for enhanced AI scratch merging with union semantics
  apidocs/guide/ai-assist-api.md
  apidocs/zh/guide/ai-assist-api.md
  src/Utils/segmentation/NrrdTools.ts
  src/index.ts
Labels: @utils

3.6.6
  package-lock.json
  package.json
Labels: none

feat: enhance surface annotation with visibility control and interaction state tracking
  apidocs/guide/surface-annotation-api.md
  apidocs/zh/guide/surface-annotation-api.md
  src/Utils/surfaceAnnotation/MeshGraph.ts
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/__tests__/import.test.ts
  src/Utils/surfaceAnnotation/__tests__/interaction.test.ts
  src/Utils/surfaceAnnotation/__tests__/visibility.test.ts
  src/Utils/surfaceAnnotation/annotationStore.ts
  src/Utils/surfaceAnnotation/types.ts
Labels: @utils

3.6.7
  package-lock.json
  package.json
Labels: none

feat: adjust light intensity calculations to maintain brightness consistency
  src/Scene/baseScene.ts
Labels: @scene

3.6.8
  package-lock.json
  package.json
Labels: none

feat: set explicit render order for surface meshes to prevent flickering
  src/Scene/copperScene.ts
Labels: @scene

3.6.9
  package-lock.json
  package.json
Labels: none

feat: enhance geodesic contour editing and persistence
  apidocs/guide/surface-annotation-api.md
  apidocs/zh/guide/surface-annotation-api.md
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/__tests__/geodesicEdit.test.ts
  src/Utils/surfaceAnnotation/__tests__/geodesicLifecycle.test.ts
  src/Utils/surfaceAnnotation/__tests__/geodesicPersist.test.ts
  src/Utils/surfaceAnnotation/__tests__/geodesicSmooth.test.ts
  src/Utils/surfaceAnnotation/annotationStore.ts
  src/Utils/surfaceAnnotation/geodesicContour.ts
  src/Utils/surfaceAnnotation/pointMarkers.ts
  src/Utils/surfaceAnnotation/types.ts
Labels: @utils

3.6.10
  package-lock.json
  package.json
Labels: none

feat: add error handling callback to loadPureGLB for improved loading feedback
  src/Scene/copperScene.ts
Labels: @scene

3.6.11
  package-lock.json
  package.json
Labels: none

feat: update npm publish step to include provenance and fix npm version
  .github/workflows/npm-publish.yml
Labels: workflow
