Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

3.6.12
  package-lock.json
  package.json
Labels: none

chore: update actions/checkout and actions/setup-node to v5
  .github/workflows/npm-publish.yml
Labels: workflow

feat: add multi-model support with activate/deactivate methods and visibility control
  apidocs/guide/surface-annotation-api.md
  apidocs/zh/guide/surface-annotation-api.md
  src/Utils/surfaceAnnotation/SurfaceAnnotator.ts
  src/Utils/surfaceAnnotation/__tests__/activation.test.ts
  src/Utils/surfaceAnnotation/__tests__/visibility.test.ts
Labels: @utils

3.6.13
  package-lock.json
  package.json
Labels: none

feat: add MHD header parser and tests for ultrasound data
  apidocs/guide/4D-MRI-LV-rendering.md
  apidocs/zh/guide/4D-MRI-LV-rendering.md
  src/Loader/copperDicomLoader.ts
  src/Loader/copperRaw4DVolumeLoader.ts
  src/Loader/mhdParser.test.ts
  src/Loader/mhdParser.ts
  src/Scene/commonSceneMethod.ts
  src/Scene/copperMScene.ts
  src/Scene/copperScene.ts
  src/Scene/preRenderRegistry.test.ts
  src/Scene/preRenderRegistry.ts
  src/Utils/colormapData.test.ts
  src/Utils/colormapData.ts
  src/Utils/texture2d.ts
  src/Utils/volumeColormap.ts
  src/Utils/volumeShader.ts
  src/index.ts
  src/lib/shader/texture2d_frag.glsl
  src/types/types.ts
Labels: @lib, @loader, @copperDicomLoader, @scene, @utils

3.7.0
  package-lock.json
  package.json
Labels: none

Add unit tests for geodesic annotations and related functionalities
  package-lock.json
  package.json
  src/Controls/Copper3dOrbitControls.ts
  src/Controls/orbitFraming.ts
  src/Loader/copperNrrdLoader.ts
  src/Scene/copperScene.ts
  src/Utils/segmentation/core/__tests__/MaskVolume.bench.ts
  src/__tests__/GaussianSmoother.test.ts
  src/__tests__/MarchingSquares.test.ts
  src/__tests__/MaskVolume.bench.ts
  src/__tests__/MaskVolume.test.ts
  src/__tests__/RenderingUtils.cache.test.ts
  src/__tests__/activation.test.ts
  src/__tests__/colormapData.test.ts
  src/__tests__/geodesicEdit.test.ts
  src/__tests__/geodesicLifecycle.test.ts
  src/__tests__/geodesicPersist.test.ts
  src/__tests__/geodesicSmooth.test.ts
  src/__tests__/import.test.ts
  src/__tests__/interaction.test.ts
  src/__tests__/mhdParser.test.ts
  src/__tests__/orbitFraming.test.ts
  src/__tests__/preRenderRegistry.test.ts
  src/__tests__/setup.ts
  src/__tests__/visibility.test.ts
  src/index.ts
Labels: @controls, @loader, @copperNrrdLoader, @scene, @utils

3.7.1
  package-lock.json
  package.json
Labels: none

fix: repair slice geometry to address three.js regression affecting volume rendering
  src/Loader/copperNrrdLoader.ts
Labels: @loader, @copperNrrdLoader

3.7.2
  package-lock.json
  package.json
Labels: none

feat: implement layer volume replacement functionality and add related tests
  src/Utils/segmentation/CanvasState.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/UndoManager.ts
  src/Utils/segmentation/core/__tests__/setup.ts
  src/Utils/segmentation/core/types.ts
  src/__tests__/UndoManager.test.ts
Labels: @utils

3.7.3
  package-lock.json
  package.json
Labels: none

feat: enhance NIFTI type declarations with NIFTI1 and NIFTI2 header classes
  src/types/nifti-reader-js.d.ts
Labels: none

3.7.4
  package-lock.json
  package.json
Labels: none

feat: add isEditableElement function to check focusable elements and prevent focus loss
  src/Utils/segmentation/coreTools/divControlTools.ts
Labels: @utils

3.7.5
  package-lock.json
  package.json
Labels: none

Add unit tests for disposal utilities, scene budget, and volume exposure
  apidocs/.vitepress/config.js
  apidocs/apidocConfig.json
  apidocs/guide/camera-framing.md
  apidocs/guide/scene-resources.md
  apidocs/guide/volume-display.md
  apidocs/typedoc.js
  apidocs/zh/guide/camera-framing.md
  apidocs/zh/guide/scene-resources.md
  apidocs/zh/guide/volume-display.md
  src/Controls/cameraTransitions.ts
  src/Controls/fitView.ts
  src/Controls/orbitFraming.ts
  src/Loader/fastSliceRepaint.ts
  src/Renderer/copperRendererOnDemond.ts
  src/Renderer/disposeScene.ts
  src/Renderer/sceneBudget.ts
  src/Scene/copperSceneOnDemond.ts
  src/Utils/dispose.ts
  src/Utils/modelCrossfade.ts
  src/Utils/volumeExposure.ts
  src/__tests__/cameraTransitions.test.ts
  src/__tests__/dispose.test.ts
  src/__tests__/disposeScene.test.ts
  src/__tests__/fastSliceRepaint.test.ts
  src/__tests__/fitView.test.ts
  src/__tests__/modelCrossfade.test.ts
  src/__tests__/orbitFraming.test.ts
  src/__tests__/sceneBudget.test.ts
  src/__tests__/volumeExposure.test.ts
  src/index.ts
Labels: @controls, @loader, @renderer, @scene, @utils

chore: update package entry to `copper3d` in documentation and code
  apidocs/.vitepress/config.js
  apidocs/apidocConfig.json
  apidocs/guide/camera-framing.md
  apidocs/guide/scene-resources.md
  apidocs/guide/segmentation-module.md
  apidocs/guide/volume-display.md
  apidocs/zh/guide/camera-framing.md
  apidocs/zh/guide/scene-resources.md
  apidocs/zh/guide/segmentation-module.md
  apidocs/zh/guide/volume-display.md
  package.json
  src/index.ts
Labels: none

feat: migrate tests to Vitest and update package configuration
  package-lock.json
  package.json
  src/__tests__/MaskVolume.test.ts
  src/__tests__/colormapData.test.ts
  src/__tests__/mhdParser.test.ts
  src/__tests__/preRenderRegistry.test.ts
  tsconfig.json
  vitest.config.mts
Labels: none

fix(rollup): explicitly include TypeScript file extensions to prevent parsing errors
  .github/workflows/deploy-api-docs.yaml
  .github/workflows/npm-publish.yml
  package-lock.json
  rollup.config.js
Labels: workflow

3.8.1
  package-lock.json
  package.json
Labels: none

fix: update comments in configuration files for clarity and consistency
  .github/workflows/npm-publish.yml
  rollup.config.js
Labels: workflow

3.9.0
  package-lock.json
  package.json
Labels: none

fix: update TypeDoc entries and add event map for Copper3dTrackballControls
  apidocs/.vitepress/config.js
  apidocs/apidocConfig.json
  apidocs/typedoc.js
  rollup.config.js
  src/Controls/Copper3dTrackballControls.ts
Labels: @controls

feat: add rotation pivot functionality to Copper3dTrackballControls
  .gitignore
  apidocs/.vitepress/config.js
  apidocs/examples/camera-controls-nrrd.md
  apidocs/examples/rotation-pivot-switch.md
  apidocs/guide/rotation-pivot.md
  apidocs/zh/examples/camera-controls-nrrd.md
  apidocs/zh/examples/rotation-pivot-switch.md
  apidocs/zh/guide/rotation-pivot.md
  src/Controls/Copper3dTrackballControls.ts
  src/__tests__/trackballRotationPivot.test.ts
Labels: @controls

3.9.1
  package-lock.json
  package.json
Labels: none

feat: enhance event handling in EventRouter and add tests for modifier reconciliation
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/__tests__/dragEscape.test.ts
Labels: @utils

3.9.2
  package-lock.json
  package.json
Labels: none

feat: add setContrastIndex method to NrrdTools and improve slice handling in SliceRenderPipeline
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/__tests__/sliceRenderPipeline.spec.ts
Labels: @utils, tests

3.9.3
  package-lock.json
  package.json
Labels: none

feat: Optimise NRRD loader Add tests for NRRD loading and processing with min/max overrides
  src/Loader/copperNrrdLoader.ts
  src/Loader/nrrdWorker.ts
  src/Loader/nrrdWorkerCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/DataLoader.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/__tests__/DataLoaderMaskGrid.test.ts
  src/__tests__/DataLoaderSplit.test.ts
  src/__tests__/dragSliceToolStaleContrast.test.ts
  src/__tests__/fetchDedup.test.ts
  src/__tests__/helpers/fakeNrrdWorker.ts
  src/__tests__/minMaxOverride.test.ts
  src/__tests__/nrrdLoadCallbacks.test.ts
  src/__tests__/nrrdToolsCommitSeriesLoad.test.ts
  src/__tests__/nrrdToolsSetSkips.test.ts
  src/__tests__/onDemandAxisExtraction.test.ts
  src/__tests__/pixelIdentity.test.ts
  src/index.ts
Labels: @loader, @copperNrrdLoader, @utils

3.10.0
  package-lock.json
  package.json
Labels: none

feat: enhance NRRD loading and segmentation features
  README.md
  apidocs/guide/load-callbacks.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/load-callbacks.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  src/Loader/copperNrrdLoader.ts
  src/Loader/nrrdWorker.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/DataLoader.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/__tests__/DataLoaderMaskGrid.test.ts
  src/__tests__/DataLoaderSplit.test.ts
  src/__tests__/dispose.test.ts
  src/__tests__/onDemandAxisExtraction.test.ts
Labels: @loader, @copperNrrdLoader, @utils, documentation

feat: add notifyUser method for improved error handling and user notifications
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  rollup.config.js
  src/index.ts
  src/types/raw-modules.d.ts
Labels: documentation

feat: implement annotation suspension for read-only preview during loading
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/__tests__/annotationSuspended.test.ts
Labels: @utils, documentation

3.10.1
  package-lock.json
  package.json
Labels: none

feat: extend MaskVolume to support up to 255 channels
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/MaskVolume.ts
  src/Utils/segmentation/core/__tests__/MaskVolume.clearChannel.spec.ts
  src/Utils/segmentation/core/__tests__/canvasReadback.spec.ts
  src/Utils/segmentation/core/__tests__/channelColors.spec.ts
  src/Utils/segmentation/core/__tests__/labelVisibility.spec.ts
  src/Utils/segmentation/core/index.ts
  src/Utils/segmentation/core/types.ts
  src/__tests__/MaskVolume.test.ts
  src/__tests__/NrrdTools.clearChannel.spec.ts
  src/index.ts
Labels: @utils, tests

3.10.2
  package-lock.json
  package.json
Labels: none

feat: extend channel support to 255 and add clearChannel method for single annotation erasure
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: documentation

feat(segmentation): add boundary segment extraction and outline rendering
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/RenderingUtils.ts
  src/Utils/segmentation/__tests__/RenderingUtils.outline.spec.ts
  src/Utils/segmentation/core/MarchingSquares.ts
  src/Utils/segmentation/core/__tests__/MarchingSquares.outline.spec.ts
  src/Utils/segmentation/core/__tests__/setup.ts
  src/Utils/segmentation/core/index.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/GuiState.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/__tests__/RenderingUtils.cache.test.ts
  src/index.ts
Labels: @utils, tests

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"
