Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"

update middle button's type
  src/Controls/Copper3dTrackballControls.ts
Labels: @controls

add new option (logarithmicDepthBuffer) to address model flickering issue #257
  src/Renderer/baseRenderer.ts
  src/types/types.ts
Labels: @renderer

1.15.18
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

customise obj color #250
  src/Scene/commonSceneMethod.ts
Labels: @scene

1.15.19
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

change the throttle routes
  src/Scene/copperMScene.ts
  src/Utils/nrrd_tool.ts
  src/Utils/raycaster.ts
  src/Utils/utils.ts
Labels: @scene, @utils

1.15.20
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

modify nrrd_tools gui, and add setPencilIcon function
  src/Utils/nrrd_tool.ts
Labels: @utils

add switch pencil icon function
  src/Utils/utils.ts
Labels: @utils

1.15.21
  package-lock.json
  package.json
Labels: none

remove unneccessary css
  src/css/style.css
Labels: @css

add template for PR
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/document-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: workflow

add api docs via typedoc and vitepress
  .gitignore
  apidocs/.vitepress/config.js
  apidocs/apidocConfig.json
  apidocs/index.md
  apidocs/package.json
  apidocs/typedoc.js
  apidocs/typedoc.json
  docs/source/conf.py
  src/index.ts
Labels: @documentation

add getSphereData function
  docs/source/conf.py
  docs/source/release/release.md
  src/Utils/nrrd_tool.ts
  src/index.ts
  src/types/types.ts
Labels: @documentation, @utils

1.15.22
  package-lock.json
  package.json
Labels: none

fixed the cursor not center issue
  docs/source/conf.py
  docs/source/release/release.md
  src/Utils/utils.ts
  src/index.ts
Labels: @documentation, @utils

1.15.23
  package-lock.json
  package.json
Labels: none

add api docs
  apidocs/apidocConfig.json
  apidocs/typedoc.js
  src/Utils/nrrd_tool.ts
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawOperator.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/archive.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/divControlTools.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/workers/reformatSaveDataWorker.ts
  src/index.ts
  src/types/types.ts
Labels: @utils

clean code
  src/Utils/segmentation/DrawOperator.ts
Labels: @utils

Add docs for nrrd segmentation
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/gui.ts
Labels: @utils

change code export style to typedocs one
  apidocs/apidocConfig.json
  apidocs/typedoc.js
  src/Renderer/baseRenderer.ts
  src/Renderer/copperMSceneRenderer.ts
  src/Renderer/copperRenderer.ts
  src/Renderer/copperRendererOnDemond.ts
  src/Scene/baseScene.ts
  src/Scene/commonSceneMethod.ts
  src/Scene/copperMScene.ts
  src/Scene/copperScene.ts
  src/Scene/copperSceneOnDemond.ts
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/index.ts
Labels: @renderer, @scene, @utils

config algolia
  .github/workflows/algolia.yaml
  .github/workflows/deploy-api-docs.yaml
  apidocs/.vitepress/config.js
  apidocs/apidocConfig.json
  apidocs/crawlerConfig.json
  apidocs/index.md
  apidocs/package-lock.json
  apidocs/package.json
  apidocs/typedoc.js
  src/Loader/copperNrrdLoader.ts
  src/Utils/add3DLabel.ts
  src/types/types.ts
Labels: @loader, @copperNrrdLoader, @utils, workflow

2.0.0
  package-lock.json
  package.json
Labels: none

update action
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

update action
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

update action
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

update action
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

update actions
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

update actions
  .github/workflows/deploy-api-docs.yaml
  apidocs/package.json
Labels: workflow

update actions
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

update actions
  .github/workflows/deploy-api-docs.yaml
  apidocs/package-lock.json
  apidocs/package.json
  package-lock.json
Labels: workflow

update actions
  apidocs/package-lock.json
  package-lock.json
Labels: none

update actions
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

deploy: 8801c492c56d48a5f9227a76b6eab652f3c64d1b
  .nojekyll
  404.html
  assets/app.5ec4ab65.js
  assets/chunks/VPAlgoliaSearchBox.b002850a.js
  assets/chunks/framework.5916b37e.js
  assets/chunks/theme.6b888f25.js
  assets/index.md.0a1fc49e.js
  assets/index.md.0a1fc49e.lean.js
  assets/inter-italic-cyrillic-ext.33bd5a8e.woff2
  assets/inter-italic-cyrillic.ea42a392.woff2
  assets/inter-italic-greek-ext.4fbe9427.woff2
  assets/inter-italic-greek.8f4463c4.woff2
  assets/inter-italic-latin-ext.bd8920cc.woff2
  assets/inter-italic-latin.bd3b6f56.woff2
  assets/inter-italic-vietnamese.6ce511fb.woff2
  assets/inter-roman-cyrillic-ext.e75737ce.woff2
  assets/inter-roman-cyrillic.5f2c6c8c.woff2
  assets/inter-roman-greek-ext.ab0619bc.woff2
  assets/inter-roman-greek.d5a6d92a.woff2
  assets/inter-roman-latin-ext.0030eebd.woff2
  assets/inter-roman-latin.2ed14f66.woff2
  assets/inter-roman-vietnamese.14ce25a6.woff2
  assets/style.fecbcd0a.css
  hashmap.json
  index.html
Labels: none

update actions
  apidocs/.vitepress/config.js
Labels: none

update actions
  .github/workflows/deploy-api-docs.yaml
Labels: workflow

update vitpress docs config, the docs generated by typedoc cannot be called dist, need use another name.
  .github/workflows/deploy-api-docs.yaml
  .gitignore
  apidocs/.vitepress/config.js
  apidocs/apidocConfig.json
  apidocs/index.md
  apidocs/package.json
  apidocs/typedoc.js
  apidocs/typedoc.json
Labels: workflow
