Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

3.10.3
  package-lock.json
  package.json
Labels: none

feat(rendering): add mask render mode for fill and outline display
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: none

feat(ci): add CI workflow for build and test on pull requests and main pushes
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  vitest.config.mts
Labels: workflow

feat(documentation): update NrrdTools and segmentation module guides with dynamic layer support and new methods
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/UndoManager.ts
  src/__tests__/UndoManager.test.ts
Labels: @utils, documentation

feat(documentation): update README with CI badge and links feat(segmentation): refactor layer volume methods for better undo support
  README.md
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
Labels: @utils, documentation

3.10.4
  package-lock.json
  package.json
Labels: none

feat: add copper3d-mcp server for AI coding assistance
  .github/workflows/ci.yml
  .github/workflows/npm-publish-mcp.yml
  .gitignore
  README.md
  apidocs/apidocConfig.json
  apidocs/entries.js
  apidocs/typedoc.js
  mcp/.gitignore
  mcp/LICENSE
  mcp/README.md
  mcp/package-lock.json
  mcp/package.json
  mcp/src/__tests__/resolver.test.ts
  mcp/src/__tests__/search.test.ts
  mcp/src/__tests__/store.test.ts
  mcp/src/index.ts
  mcp/src/resolver.ts
  mcp/src/search.ts
  mcp/src/store.ts
  mcp/tsconfig.json
  mcp/vitest.config.mts
  package-lock.json
  package.json
  scripts/build-ai-index.js
  tsconfig.json
Labels: documentation, workflow

3.11.0
  package-lock.json
  package.json
Labels: none

fix(mcp): resolve the index inside the copper3d repo itself
  mcp/README.md
  mcp/package-lock.json
  mcp/package.json
  mcp/src/__tests__/resolver.test.ts
  mcp/src/resolver.ts
Labels: none

feat: enhance drawing tool functionality with pointer up handling and layer management
  .gitignore
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/__tests__/annotationSuspended.test.ts
Labels: @utils

3.11.1
  package-lock.json
  package.json
Labels: none

feat: add MCP server documentation and examples for AI coding assistants
  README.md
  apidocs/.vitepress/config.js
  apidocs/guide/mcp-server.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/mcp-server.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: documentation

feat: add dispose method to NrrdTools for resource cleanup and memory management
  src/Utils/segmentation/NrrdTools.ts
  src/__tests__/nrrdToolsDispose.test.ts
Labels: @utils

3.11.2
  package-lock.json
  package.json
Labels: none

feat: add dispose method to NrrdTools for resource cleanup and memory management
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/scene-resources.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/scene-resources.md
  apidocs/zh/guide/segmentation-module.md
Labels: documentation

feat: implement configurable minimum zoom factor for NrrdTools and related components
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/NrrdState.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/Utils/segmentation/tools/ZoomTool.ts
  src/__tests__/minSizeFactor.test.ts
Labels: @utils

3.11.3
  package-lock.json
  package.json
Labels: none

feat: add configurable minimum zoom factor for NrrdTools and update documentation
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: documentation

feat: enhance ZoomTool with precise wheel zoom ratio calculation and update tests
  src/Utils/segmentation/tools/ZoomTool.ts
  src/__tests__/minSizeFactor.test.ts
Labels: @utils

3.11.4
  package-lock.json
  package.json
Labels: none

feat: update documentation for wheel zoom ratio calculation in NrrdTools and Segmentation Module
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: none

feat: remove sphere mode shortcut and update related documentation
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  src/Utils/segmentation/CanvasState.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/Utils/segmentation/eventRouter/types.ts
  src/__tests__/noSphereHotkey.test.ts
Labels: @utils, documentation

feat: Implement mask mirroring functionality
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/RenderingUtils.ts
  src/Utils/segmentation/contourPaint.ts
  src/Utils/segmentation/tools/MaskMirror.ts
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/__tests__/contourPaint.test.ts
  src/__tests__/maskMirror.test.ts
  src/__tests__/mirrorSlice.test.ts
  src/__tests__/nrrdToolsDispose.test.ts
  src/__tests__/nrrdToolsMirror.test.ts
Labels: @utils

3.11.5
  package-lock.json
  package.json
Labels: none

feat: Add mask mirroring functionality and update related documentation
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: documentation

feat: Implement preview slice functionality before full volume loads
  README.md
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/__tests__/dragSliceToolStaleContrast.test.ts
  src/__tests__/previewSlice.test.ts
Labels: @utils, documentation

feat: Refactor volume slice preparation and update rendering timers to use THREE.Timer
  src/Loader/copperNrrdLoader.ts
  src/Renderer/copperRenderer.ts
  src/Scene/copperScene.ts
  src/Utils/segmentation/RenderingUtils.ts
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/__tests__/layerlessEngine.test.ts
  src/__tests__/noDeprecatedClock.test.ts
  src/__tests__/prepareVolumeSlices.test.ts
  src/index.ts
Labels: @loader, @copperNrrdLoader, @renderer, @scene, @utils

3.11.6
  package-lock.json
  package.json
Labels: none

feat: Update documentation for THREE.Timer integration and prepareVolumeSlices function
  README.md
  apidocs/guide/4D-MRI-LV-rendering.md
  apidocs/guide/copper3d-rendering-optimization.md
  apidocs/guide/load-callbacks.md
  apidocs/guide/nrrd-tools.md
  apidocs/zh/guide/4D-MRI-LV-rendering.md
  apidocs/zh/guide/copper3d-rendering-optimization.md
  apidocs/zh/guide/load-callbacks.md
  apidocs/zh/guide/nrrd-tools.md
Labels: documentation

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"
