Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

fix: update apidocs config
  apidocs/.vitepress/config.js
Labels: none

docs: update customize layer channel color method
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: none

feat: Introduce new segmentation module with rendering utilities and documentation.
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  src/Utils/segmentation/CanvasState.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/RenderingUtils.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/GuiState.ts
  src/Utils/segmentation/tools/LayerChannelManager.ts
  src/index.ts
Labels: @utils

3.1.1
  package-lock.json
  package.json
Labels: none

feat: update camera viewpoint synchronization and increment version to 3.1.2-beta
  src/Controls/copperControls.ts
  src/Scene/baseScene.ts
  src/Scene/copperMScene.ts
  src/Scene/copperScene.ts
  src/index.ts
Labels: @controls, @scene

3.1.2
  package-lock.json
  package.json
Labels: none

feat: enhance viewpoint synchronization in copperScene controls
  src/Scene/copperScene.ts
Labels: @scene

feat: add SphereBrushTool for 3D sphere painting and erasing
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/UndoManager.ts
  src/Utils/segmentation/core/index.ts
  src/Utils/segmentation/core/types.ts
  src/Utils/segmentation/coreTools/GuiState.ts
  src/Utils/segmentation/coreTools/NrrdState.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/Utils/segmentation/eventRouter/types.ts
  src/Utils/segmentation/tools/SphereBrushTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/Utils/segmentation/tools/ZoomTool.ts
  src/Utils/segmentation/tools/index.ts
  src/index.ts
Labels: @utils

3.2.0
  package-lock.json
  package.json
Labels: none

feat: add SphereBrush and SphereEraser tools for 3D volume painting and erasing
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: none

feat: update origin dimensions handling in SliceRenderPipeline and increment version to 3.2.1-beta
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/index.ts
Labels: @utils

fix: solve the layer alpha issue
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
Labels: @utils

3.2.1
  package-lock.json
  package.json
Labels: none

feat: GaussianSmoother
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/core/GaussianSmoother.ts
  src/Utils/segmentation/core/__tests__/GaussianSmoother.test.ts
  src/index.ts
Labels: @utils

docs: add gaussianSmooth
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
Labels: none

feat: speed up GaussianSmoother
  apidocs/guide/nrrd-tools.md
  apidocs/guide/segmentation-module.md
  apidocs/zh/guide/nrrd-tools.md
  apidocs/zh/guide/segmentation-module.md
  src/Utils/segmentation/core/GaussianSmoother.ts
  src/Utils/segmentation/core/MaskVolume.ts
Labels: @utils

feat: optimize copper3d rendering and prue glb/gltf render
  src/Renderer/baseRenderer.ts
  src/Scene/baseScene.ts
  src/Scene/copperScene.ts
  src/index.ts
Labels: @renderer, @scene

3.3.0
  package-lock.json
  package.json
Labels: none

docs: copper3d rendering
  apidocs/.vitepress/config.js
  apidocs/guide/copper3d-rendering-optimization_en.md
  apidocs/zh/guide/copper3d-rendering-optimization_zh.md
Labels: none

docs: update configs
  apidocs/.vitepress/config.js
  apidocs/guide/copper3d-rendering-optimization.md
  apidocs/zh/guide/copper3d-rendering-optimization.md
Labels: none

fix: sync UndoManager active layer on setActiveLayer
  src/Utils/segmentation/NrrdTools.ts
  src/index.ts
Labels: @utils

3.3.1
  package-lock.json
  package.json
Labels: none

feat: add slice switching functionality while preserving view state
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/tools/SliceRenderPipeline.ts
  src/index.ts
Labels: @utils

3.3.2
  package-lock.json
  package.json
Labels: none

feat: add copyLayerData method to synchronize voxel data between layers
  src/Utils/segmentation/NrrdTools.ts
  src/index.ts
Labels: @utils

3.3.3
  package-lock.json
  package.json
Labels: none

feat(segmentation): implement Marching Squares algorithm for contour extraction
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/RenderingUtils.ts
  src/Utils/segmentation/core/MarchingSquares.ts
  src/Utils/segmentation/core/__tests__/MarchingSquares.test.ts
  src/Utils/segmentation/core/index.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/Utils/segmentation/tools/DrawingTool.ts
  src/Utils/segmentation/tools/SphereBrushTool.ts
  src/Utils/segmentation/tools/ToolHost.ts
  src/index.ts
Labels: @utils

3.4.0
  package-lock.json
  package.json
Labels: none

feat(eventRouter): add slice-drag detection and prevent wheel events during drag
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/index.ts
Labels: @utils

3.4.1
  package-lock.json
  package.json
Labels: none

feat(DrawToolCore, EventRouter): enhance slice-drag handling and update REVISION to v3.4.2-beta
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/eventRouter/EventRouter.ts
  src/index.ts
Labels: @utils

3.4.2
  package-lock.json
  package.json
Labels: none

feat(DragSliceTool): update contrast and slice number display format; bump REVISION to v3.4.3-beta
  src/Utils/segmentation/tools/DragSliceTool.ts
  src/index.ts
Labels: @utils

3.4.3
  package-lock.json
  package.json
Labels: none

feat(RenderingUtils, MaskVolume): implement contour caching and versioning for efficient rendering; add tests for cache behavior
  src/Utils/segmentation/RenderingUtils.ts
  src/Utils/segmentation/__tests__/RenderingUtils.cache.test.ts
  src/Utils/segmentation/core/MaskVolume.ts
  src/Utils/segmentation/core/__tests__/MaskVolume.test.ts
  src/Utils/segmentation/tools/ZoomTool.ts
  src/index.ts
Labels: @utils

3.4.4
  package-lock.json
  package.json
Labels: none

feat(MarchingSquares): optimize polygon extraction by coalescing solid interiors into run-length rectangles; add performance tests
  src/Utils/segmentation/core/MarchingSquares.ts
  src/Utils/segmentation/core/__tests__/MarchingSquares.test.ts
  src/index.ts
Labels: @utils

3.4.5
  package-lock.json
  package.json
Labels: none

feat(DrawingTool): notify backend of brush strokes by firing onMaskChanged; update REVISION to v3.4.6-beta
  src/Utils/segmentation/tools/DrawingTool.ts
  src/index.ts
Labels: @utils

3.4.6
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"
