Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"

update package name
  package.json
Labels: none

update package setup
  package-lock.json
Labels: none

update
  package-lock.json
  package.json
Labels: none

add docs
  docs/source/conf.py
  docs/source/release/release.md
Labels: @documentation

update version
  src/index.ts
Labels: none

add prerenderer function
  src/Renderer/baseRenderer.ts
  src/Renderer/copperRenderer.ts
Labels: @renderer

remove gltf exporter
  src/Utils/gltfExporter.ts
  src/Utils/nrrd_tool.ts
Labels: @utils

1.14.8
  package-lock.json
  package.json
Labels: none

update threejs latest version
  package-lock.json
  package.json
  src/Loader/copperNrrdLoader.ts
Labels: @loader, @copperNrrdLoader

update docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

1.14.9
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

fixed the gltfexporter bug
  src/Renderer/baseRenderer.ts
Labels: @renderer

1.14.10
  package-lock.json
  package.json
Labels: none

update threejs version
  package.json
Labels: none

update docs and toturial for texture2d
  docs/source/release/release.md
  docs/source/tutorial/18_texture2d_nrrd_sharder.md
  docs/source/tutorial/index.rst
  src/index.ts
Labels: @documentation

rewrite threejs trackballcontrols
  src/Controls/Copper3dTrackballControls.ts
Labels: @controls

update texture3d with controls camera function design
  src/Loader/convet.ts
  src/Loader/copperNrrdLoader.ts
  src/Renderer/baseRenderer.ts
  src/Scene/baseScene.ts
  src/Scene/commonSceneMethod.ts
  src/Scene/copperMScene.ts
  src/Scene/copperScene.ts
  src/Utils/raycaster.ts
Labels: @loader, @copperNrrdLoader, @renderer, @scene, @utils

recorrect the variable names
  src/Utils/nrrd_tool.ts
Labels: @utils

update texture3d with nrrd 3d volume
  src/Utils/texture2d.ts
Labels: @utils

update package name
  package-lock.json
  package.json
Labels: none

1.14.11
  package-lock.json
  package.json
Labels: none

1.15.0
  package-lock.json
  package.json
Labels: none

update doc version
  docs/source/conf.py
Labels: @documentation

Update threejs render performance
  src/Renderer/baseRenderer.ts
  src/Renderer/copperMSceneRenderer.ts
Labels: @renderer

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

add a controls option to user in copperRender
  src/Renderer/copperRenderer.ts
  src/Scene/copperScene.ts
  src/types/types.ts
Labels: @renderer, @scene

1.15.1
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/index.ts
Labels: @documentation

fix copper trackballcontrols bug
  src/Controls/Copper3dTrackballControls.ts
Labels: @controls

1.15.2
  package-lock.json
  package.json
Labels: none

for test
  docs/source/release/release.md
  src/Controls/Copper3dTrackballControls.ts
  src/index.ts
Labels: @documentation, @controls

1.15.3
  package-lock.json
  package.json
Labels: none

test
  src/Controls/Copper3dTrackballControls1.ts
  src/Scene/copperScene.ts
Labels: @controls, @scene

1.15.4
  package-lock.json
  package.json
Labels: none

test
  src/Controls/Copper3dTrackballControls1.ts
Labels: @controls

1.15.5
  package-lock.json
  package.json
Labels: none

continue test
  src/Controls/Copper3dTrackballControls.ts
  src/Controls/Copper3dTrackballControls1.ts
  src/Scene/copperScene.ts
Labels: @controls, @scene

1.15.6
  package-lock.json
  package.json
Labels: none

docs
  docs/source/conf.py
  docs/source/release/release.md
  src/Controls/Copper3dTrackballControls1.ts
  src/index.ts
Labels: @documentation, @controls
