Repository LinkunGao/copper3d_visualisation, changes with the labels that .github/labeler.yml gives for each.
All labels: @documentation, @controls, @core, @css, @lib, @loader, @copperDicomLoader, @copperGltfLoader, @copperNrrdLoader, @copperOBJLoader, @copperVtkLoader, @renderer, @scene, @utils, @Utils/nrrd_tools, @eslint, @stack, @tsconfig, @ui, documentation, workflow, tests

.github/labeler.yml:

"@documentation":
  - docs/source/**/*
"@controls":
  - src/Controls/**/*
"@core":
  - src/core/**/*
"@css":
  - src/css/**/*
"@lib":
  - src/lib/**/*
"@loader":
  - src/Loader/**/*
"@copperDicomLoader":
  - src/Loader/copperDicomLoader.ts
"@copperGltfLoader":
  - src/Loader/copperGltfLoader.ts
"@copperNrrdLoader":
  - src/Loader/copperNrrdLoader.ts
"@copperOBJLoader":
  - src/Loader/copperOBJLoader.ts
"@copperVtkLoader":
  - src/Loader/copperVtkLoader.ts
"@renderer":
  - src/Renderer/**/*
"@scene":
  - src/Scene/**/*
"@utils":
  - src/Utils/**/*
"@Utils/nrrd_tools":
  - src/Utils/nrrd_tools.ts
"@eslint":
  - packages/eslint-config-custom/**/*
"@stack":
  - packages/stack/**/*
  - stacks/**/*
"@tsconfig":
  - packages/tsconfig/**/*
"@ui":
  - packages/ui/**/*
"documentation":
  - "*.md"
"workflow":
  - .github/**/*
"tests":
  - "**/*.spec.*"

update readme and action
  .github/workflows/algolia.yaml
  README.md
  docs/source/release/release.md
Labels: @documentation, documentation, workflow

update action
  .github/workflows/algolia.yaml
Labels: workflow

update algolia action
  .github/workflows/algolia.yaml
  apidocs/.vitepress/config.js
Labels: workflow

update algolia action
  .github/workflows/algolia.yaml
  .github/workflows/deploy-api-docs.yaml
  apidocs/crawlerConfig.json
Labels: workflow

update algolia config
  apidocs/crawlerConfig.json
  apidocs/crawlerConfig_1.json
Labels: none

update algolia config
  apidocs/crawlerConfig.json
  apidocs/crawlerConfig_1.json
Labels: none

v2.0.1
  .github/workflows/algolia.yaml
  docs/source/conf.py
  docs/source/release/release.md
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/Utils/utils.ts
  src/index.ts
Labels: @documentation, @utils, workflow

2.0.1
  package-lock.json
  package.json
Labels: none

fixed cursor icon issue
  docs/source/conf.py
  docs/source/release/release.md
  src/Utils/segmentation/coreTools/gui.ts
  src/index.ts
Labels: @documentation, @utils

2.0.2
  package-lock.json
  package.json
Labels: none

update threejs version
  package.json
Labels: none

2.0.3
  package-lock.json
  package.json
Labels: none

update package version
  src/index.ts
Labels: none

npm ci
  package-lock.json
Labels: none

improve preformance
  src/Renderer/baseRenderer.ts
  src/index.ts
Labels: @renderer

2.0.4
  package-lock.json
  package.json
Labels: none

update readthedocs packages
  docs/requirements.txt
Labels: none

fix sphere and zoom function bugs
  docs/source/conf.py
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/index.ts
Labels: @documentation, @utils

2.0.5
  package-lock.json
  package.json
Labels: none

Fix bugs on zoom, sphere and crosshair
  docs/source/conf.py
  docs/source/release/release.md
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/index.ts
Labels: @documentation, @utils

2.0.6
  package-lock.json
  package.json
Labels: none

remove unnecessary codes
  src/Utils/segmentation/DrawToolCore.ts
Labels: @utils

Add drag contrast function.
  docs/source/conf.py
  docs/source/release/release.md
  src/Scene/commonSceneMethod.ts
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/index.ts
Labels: @documentation, @scene, @utils

2.0.7
  package-lock.json
  package.json
Labels: none

update guiParameters type
  src/Utils/segmentation/coreTools/gui.ts
Labels: @utils

fixed ctrl+z affect ctrl issue
  docs/source/release/release.md
  src/Utils/segmentation/DragOperator.ts
  src/Utils/segmentation/DrawToolCore.ts
Labels: @documentation, @utils

Update package.json v2.0.8
  package.json
Labels: none

Update package-lock.json v2.0.8
  package-lock.json
Labels: none

clean code
  src/Utils/segmentation/DrawToolCore.ts
  src/index.ts
Labels: @utils

update three to 161
  package-lock.json
  package.json
Labels: none

2.0.9
  package-lock.json
  package.json
Labels: none

add calculate distance function
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/Utils/segmentation/coreTools/gui.ts
  src/index.ts
Labels: @utils

2.1.0
  package-lock.json
  package.json
Labels: none

fix bug
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/coreTools/coreType.ts
Labels: @utils

Fix bugs and update get calculate sphere position function
  src/Utils/segmentation/CommToolsData.ts
  src/Utils/segmentation/DrawToolCore.ts
  src/Utils/segmentation/NrrdTools.ts
  src/Utils/segmentation/coreTools/coreType.ts
  src/index.ts
Labels: @utils

update render
  src/Renderer/baseRenderer.ts
Labels: @renderer

fix render bug
  package-lock.json
  package.json
  src/Renderer/baseRenderer.ts
  src/Renderer/copperRenderer.ts
  src/index.ts
Labels: @renderer

fix sphere function issue
  src/Utils/segmentation/DrawToolCore.ts
  src/index.ts
Labels: @utils

update threejs
  package-lock.json
  package.json
  src/Controls/Copper3dTrackballControls.ts
  src/Loader/copperNrrdLoader.ts
  src/Renderer/copperMSceneRenderer.ts
  src/Utils/utils.ts
  src/types/types.ts
Labels: @controls, @loader, @copperNrrdLoader, @renderer, @utils

2.2.0
  package-lock.json
  package.json
Labels: none
